{% extends "base.html.twig" %}

{% block body %}
	<a href="index.php">Accueil</a>
	{% for post in posts %}
		<h1>{{ post.title }}</h1>
		<p>{{ post.lastUpdateDate }}</p>
		<h2>{{ post.chapo }}</h2>
		<a href="index.php?action=post&amp;id={{ post.id }}">Lien vers le post</a>
	{% endfor %}
	<br>
	<a href="index.php?action=addPost">Ajouter un post</a>
{% endblock %}
