{% extends "base.html.twig" %}

{% block body %}
	<h1>Page d'accueil</h1>
	<a href="index.php?action=posts">Posts</a>

	<form action="index.php?action=contact" method="post">
		<label for="username">Nom Prénom</label>
		<input type="text" id="name" name="username" required>
		<label for="email">Email</label>
		<input type="email" id="email" name="email" required>
		<label for="message">Message</label>
		<textarea name="message" id="message" cols="30" rows="10" required></textarea>
		<input type="submit">
	</form>
	{% if confirmation != '' %}
		<p>{{confirmation}}</p>
	{% endif %}
{% endblock %}
